<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>66106896397-r5ud40qd535q5c8vb5f8kornm4glb6f2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66106896397-r5ud40qd535q5c8vb5f8kornm4glb6f2</string>
	<key>API_KEY</key>
	<string>AIzaSyD2_UOwpDZBWkXpAVBGulDRoJ94jNO12WE</string>
	<key>GCM_SENDER_ID</key>
	<string>66106896397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fyp.Smart-Assistant</string>
	<key>PROJECT_ID</key>
	<string>fir-app-404fc</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-404fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66106896397:ios:02f53cf1390c9e28</string>
	<key>DATABASE_URL</key>
	<string>https://fir-app-404fc.firebaseio.com</string>
</dict>
</plist>